# Proyecto 2
Segunda parte - Feature Engineering

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import modules
from sklearn.pipeline import Pipeline
import preprocessors as pp
from sklearn.preprocessing import StandardScaler #Estandarizador
from sklearn.ensemble import RandomForestClassifier

2.1 Carga de Datos

In [2]:
df = pd.read_csv("dataset_1.csv")
df.head()

,Unnamed: 0,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,0,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,1,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,2,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,3,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,4,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

2.2 Verificacion de Datos Faltantes

In [3]:
df.isnull().mean(), df.shape

(Unnamed: 0    0.0
 LIMIT_BAL     0.0
 SEX           0.0
 EDUCATION     0.0
 MARRIAGE      0.0
 AGE           0.0
 PAY_0         0.0
 PAY_2         0.0
 PAY_3         0.0
 PAY_4         0.0
 PAY_5         0.0
 PAY_6         0.0
 BILL_AMT1     0.0
 BILL_AMT2     0.0
 BILL_AMT3     0.0
 BILL_AMT4     0.0
 BILL_AMT5     0.0
 BILL_AMT6     0.0
 PAY_AMT1      0.0
 PAY_AMT2      0.0
 PAY_AMT3      0.0
 PAY_AMT4      0.0
 PAY_AMT5      0.0
 PAY_AMT6      0.0
 default       0.0
 dtype: float64,
 (30000, 25))

In [4]:
#obtenemos tipos de datos de columnas de dataframe
categoric_vars, discrete_vars , continues_vars = modules.getColumnsDataTypes(df=df)

Imputacion Variables Continuas

In [5]:
#Imputacion de Variables

df[continues_vars].isnull().mean()

Unnamed: 0    0.0
LIMIT_BAL     0.0
AGE           0.0
BILL_AMT1     0.0
BILL_AMT2     0.0
BILL_AMT3     0.0
BILL_AMT4     0.0
BILL_AMT5     0.0
BILL_AMT6     0.0
PAY_AMT1      0.0
PAY_AMT2      0.0
PAY_AMT3      0.0
PAY_AMT4      0.0
PAY_AMT5      0.0
PAY_AMT6      0.0
dtype: float64

Imputación Variables Discretas

In [6]:
df[discrete_vars].isnull().mean()

SEX          0.0
EDUCATION    0.0
MARRIAGE     0.0
PAY_0        0.0
PAY_2        0.0
PAY_3        0.0
PAY_4        0.0
PAY_5        0.0
PAY_6        0.0
default      0.0
dtype: float64

Imputación Variables Categóricas

In [7]:
df[categoric_vars].isnull().mean()

Series([], dtype: float64)

Este dataset no contiene variables categóricas.

# Pre procesamiento de Datos - Pipeline

In [8]:
columnas= ['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']

In [9]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler ()

df[columnas] = mm.fit_transform(df[columnas])

In [10]:

def instanciatePipeline(df, y):
    categoric_vars, discrete_vars , continues_vars = modules.getColumnsDataTypes(df=df)
    
    discrete_vars.remove(y)
    outliers_vars = categoric_vars + discrete_vars + continues_vars

    feature_engineering_pipeline = Pipeline(steps=[
    
        ('classifier',
            RandomForestClassifier(n_estimators=20, max_depth=100)
        )


    ])

    return feature_engineering_pipeline

In [11]:


dfSalida = instanciatePipeline(df, 'default')._fit(df)

dfSalida['default'] = pd.get_dummies(dfSalida['default'], drop_first=True)

In [12]:
dfSalida['default']

0        1
1        1
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    1
29998    1
29999    1
Name: default, Length: 30000, dtype: uint8

In [13]:
dfSalida.to_csv('dataset_salida.csv')